.section-search input {
  padding: 0px 20px 0px 20px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
  border-radius: 10px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.section-search h3 {
  padding-top: 20px !important;
}
